@font-face {
    font-family: myFont;
    src: url(../fonts/Raleway-Light.ttf);
}
@font-face {
    font-family: myHeaderFont;
    src: url(../fonts/Merriweather-Black.ttf);
}

body {
    padding: 0px 20px 0px 10%;
    margin: 0px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-family:myFont, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}
h1, h2, h3, h4, h5,.header nav button {
    font-family:myHeaderFont, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}
/* NAV BAR */
.header {
    padding: 0px;
    margin: 0px;
}
.header nav {
    width: 100%;
    position: fixed;
    backdrop-filter: blur(5px);
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
    margin: 0px;
    box-sizing: border-box;
    height: fit-content;
    z-index: 99;
    padding: 20px 0;
}
.header nav button {
    background-color: inherit;
    border: none;
    padding: 10px;
    letter-spacing: 2px;
    font-weight: bold;
    margin: 0;
}
.header nav button:hover {
    border: 1px solid black;
    border-radius: 10px;
}
#active {
    background-color: black;
    border: 1px solid black;
    color: white;
    border-radius: 10px;
}

/* HOME TAB */

.homeContainer {
    margin: 20% 0px 0px 0px;
    display: flex;
    flex-wrap: wrap;
    padding-left: 20px;
    gap: 10px;
    width: 100%;
    justify-content: space-between;
    height: fit-content;
    box-sizing: border-box;
    border-radius: 5px;
    box-shadow: 0px 9px 7px -3px #999999;
    -webkit-box-shadow: 0px 9px 7px -3px #999999;
    -moz-box-shadow: 0px 9px 7px -3px #999999;
}


.homeWrapper, .contactWrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex: 1;
    width: fit-content;
}

.homeWrapper div h2, .contactWrapper h2 {
    font-size: 70px;
    color: black;
    padding: 0px;
    font-size: 2.5rem;
    margin: 0px;
}
.homeWrapper p, .contactWrapper p {
    width: 45ch;
    line-height: 2;
    letter-spacing: 2px;
    font-size: 1rem;
    color: black;
    padding: 0px;
    margin: 0px;
    font-size: 0.8rem;
}
.homeWrapper button, .aboutContainer button, .firstServiceDiv button, .contactWrapper button {
    background-color: orangered;
    color: white;
    padding: 10px 20px;
    width: fit-content;
    border: 1px solid orangered;
    font-weight: bolder;
    box-shadow: 0 0.2em 1em orangered;
}
.homeImage {
    background: url('../images/image3.jpg');
    overflow: hidden;
}
.homeImageDiv {
    overflow: hidden;
}
.homeImageDiv,.aboutContainer {
    width: max(50%, 300px);
}
.homeImageDiv, .homeWrapper {
    height: fit-content;
}



/* ABOUT SECTION ON HOME TAB */
.aboutWrapper {
    width: 100%;
    padding-top: 50px;
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}

.aboutContainer {
    padding-top: 40px;
    display: flex;
    gap: 20px;
    width: fit-content;
    flex-direction: column;
    height: fit-content;
}
.aboutContainer h4, .firstServiceDiv h4 {
    font-size: 2.5rem;
    margin: 0;
    text-decoration: underline;
    padding: 0;
}
.aboutContainer p {
    font-size: 0.8rem;
    margin: 0;
    padding: 0;
    width: 40ch;
    letter-spacing: 3px;
}

/* SERVICE TAB */
.firstServiceDiv {
    margin-top: 20px;
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-self: center;
}
.firstServiceDiv button {
    align-self: center;
}
.firstServiceDiv h4 {
    text-decoration: none;
    align-self: center;
}
.firstServiceDiv p {
    font-weight: bold;
    font-size: 0.8rem;
    margin: 0;
    padding: 0;
    text-align: center;
    letter-spacing: 3px;
}

/* EVENT PART */
.mainDiv {
    margin: 20% 0px 0px 0px;
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-direction: column;
    flex-wrap: wrap;
}
.mainDiv1 {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}
.tabImage {
    background: url('../images/glass-cocktail.svg');
    width: 30px;
    height: 30px;
}
.tabDiv {
    width: fit-content;
    height: fit-content;
    display: flex;
    gap: 10px;
    padding: 30px 20px;
    border-radius: 10px;
    box-shadow: 0px 9px 7px -3px #999999;
    -webkit-box-shadow: 0px 9px 7px -3px #999999;
    -moz-box-shadow: 0px 9px 7px -3px #999999;
    flex-direction: column;
    background-color: white;
}
.tabDiv p {
    padding: 0px;
    margin: 0px;
    width: 30ch;
    line-height: 1.5;
    font-weight: bold;
    letter-spacing: 2px;
    font-size: 0.8rem;
}
.tabDiv h3 {
    padding: 0px;
    margin: 0px;
    font-size: 1rem;
}

/* CONTACT TAB */
.contactDiv {
    width: 100%;
    display: flex;
    gap: 10px;
    margin: 20% 0px 0px 0px;
    flex-wrap: wrap;
}
.contactWrapper {
    box-shadow: 149px 2px 18px 0px rgba(255,255,255,0.29);
-webkit-box-shadow: 149px 2px 18px 0px rgba(255,255,255,0.29);
-moz-box-shadow: 149px 2px 18px 0px rgba(255,255,255,0.29);
    z-index: 99;
}
.contactImgDiv {
    width: max(50%, 600px);
}
.contactImg {
    background: url('../images/image4.jpg');
}